body{
    background-image: url(fondo.jpg);
    background-size: cover;
}
#id{
    color: rgb(89, 255, 0);
    border: solid rgb(89, 255, 0) 3px;
}
#flecha{
    color: rgb(255, 255, 255);
    font-size: 40px;
}
#mostrar{
    display: flex;
}
#imagenes{
    width: 4rem;
}