body{
    background-color: rgb(127, 199, 199);
  
}
#caja1{
    width: 100vw;
    height: 5vw;
    border: 1px solid black;
    margin: -0.6vw;
    text-align: center;
    justify-content: center;
    color:black;
    font-size: 4vw;
    position:fixed;
    background-color: aliceblue;
 
}
#formulario{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 19vw;
    left: 16vw;
    width: 18vw;
    height: 25vw;
    border: 5px solid rgb(76, 80, 79);
    background-color: azure;
    border-radius: 0.5vw;

}
#formulario3{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 19vw;
    left: 16vw;
    width: 18vw;
    height: 25vw;
    border: 5px solid rgb(76, 80, 79);
    background-color: azure;
    border-radius: 0.5vw;

}
label{
    position: relative;
    top: 1.5vw;
    font-size: 1.3vw;
    left: 0.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    position: relative;
    left: 0.5vw;
    top: 1.5vw;
    width: 16vw;
    height: 1.5vw;
    background-color: rgb(76, 80, 79);
    color: azure;
    border-radius: 0.5vw;
}
#enviarr{
    position: relative;
    left: 7vw;
    top: 2vw;
    background-color: gray;
    color: aliceblue;
}
#boton0{
    position: relative;
    top:10vw;
    left: 5vw;
    width: 20vw;
    height:2.5vw ;
    border-radius: 1vw;
    font-size: 1.3vw;
}
#boton01{
    position: relative;
    top:10vw;
    left: 18vw;
    width: 20vw;
    height:2.5vw ;
    border-radius: 1vw;
    font-size: 1.3vw;
}
#boton02{
    position: relative;
    top:10vw;
    left: 32vw;
    width: 20vw;
    height:2.5vw ;
    border-radius: 1vw;
    font-size: 1.3vw;
}
#boton1{
    position: relative;
    top:12vw;
    left: 1vw;
    width: 6vw;
    height:2vw ;
}
#boton2{
    position: absolute;
    top:15vw;
    left: 8.5vw;
    width: 6vw;
    height:2vw ;

}
#boton3{
    position: relative;
    top: 10vw;
    left: 15vw;
    width: 6vw;
    height:2vw ;
   
}
#boton4{
    position: absolute;
    top: 15vw;
    left: 22vw;
    width: 6vw;
    height:2vw ;
    
}
#botonsuppl{
    position: absolute;
    top: 8vw;
    left: 22vw;
    width: 6vw;
    height:2vw ;

}
#botonorder{
    position: absolute;
    top: 15vw;
    left: 68vw;
    width: 6vw;
    height:2vw ;
}
#botonorder2{
    position: absolute;
    top: 15vw;
    left: 75vw;
    width: 6vw;
    height:2vw ;
}
#verproduct{
    overflow-x: scroll;
    position:absolute;
    width: 15vw;
    height: 20vw;
    top: 19vw;
    left: 1vw;
    border: 1px solid black;
    font-size: 1.2vw;
    background-color: azure;
}
#actuaproveedor{
    position: absolute;
    top: 15vw;
    left: 48vw;
    width: 6vw;
    height:2vw ;
}
#eliminarproveedor{
    position: absolute;
    top: 15vw;
    left: 55vw;
    width: 6vw;
    height:2vw ;
}
#ideliminar{
    position: absolute;
    top: 19vw;
    left: 8vw;
    width: 12vw;
    height:2vw ;
}
#borrar{
    position: absolute;
    top: 19.5vw;
    left: 22vw;
    width: 5vw;
    height:1.5vw ;
}
#elimini{
    position: absolute;
    top: 19vw;
    left: 40vw;
    width: 12vw;
    height:2vw ;
}
#borrador{
    position: absolute;
    top: 19.5vw;
    left: 54vw;
    width: 5vw;
    height:1.5vw ;
}
#eliminiordi{
    position: absolute;
    top: 19vw;
    left: 76vw;
    width: 12vw;
    height:2vw ;
}
#borradorcito{
    position: absolute;
    top: 19.5vw;
    left: 89vw;
    width: 5vw;
    height:1.5vw ;
}
#actualizarorden{
    position: absolute;
    top: 15vw;
    left: 82vw;
    width: 6vw;
    height:2vw ;
}
#eliminarorden{
    position: absolute;
    top: 15vw;
    left: 89vw;
    width: 6vw;
    height:2vw ;
}
h3{
    position: relative;
    left: 2vw;
    font-size: 1vw;
}
#botonsuppl{
    position: absolute;
    top:15vw;
    left: 34vw;
    width: 6vw;
    height:2vw ;
}
#botonsupple1{
    position: absolute;
    top:15vw;
    left: 41vw;
    width: 6vw;
    height:2vw ;
 
}
#formulario1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 19vw;
    left: 51vw;
    width: 18vw;
    height: 22vw;
    border: 5px solid rgb(76, 80, 79);
    background-color: azure;
    border-radius: 0.5vw;

}
#verproveedor{
    overflow-x: scroll;
    position:absolute;
    width: 15vw;
    height: 20vw;
    top: 19vw;
    left: 35.5vw;
    border: 1px solid black;
    font-size: 1.2vw;
    background-color: azure;
}
#formulario2{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 19vw;
    left: 81vw;
    width: 18vw;
    height: 22vw;
    border: 5px solid rgb(76, 80, 79);
    background-color: azure;
    border-radius: 0.5vw;

}
#verorder{
    overflow-x: scroll;
    position:absolute;
    width: 12vw;
    height: 20vw;
    top: 19vw;
    left: 70.5vw;
    border: 1px solid black;
    font-size: 1.2vw;
    background-color: azure;
}
#opc1{
    position: absolute;
    top: 20vw;
    left: 4vw;
}
#opc2{
    position: absolute;
    top: 22vw;
    left: 4vw;
}
#opc3{
    position: absolute;
    top: 24vw;
    left: 4vw;
}
#opc4{
    position: absolute;
    top: 26vw;
    left: 4vw;
}
#youn{
    width: 10vw;
    height: 1.2vw;
}
#div1{
    position: absolute;
    left: 12vw;
    top:18.4vw;
}
#enviar1{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#div2{
    position: absolute;
    left: 12vw;
    top:20.4vw;
}
#enviar2{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#div3{
    position: absolute;
    left: 12vw;
    top:22.4vw;
}
#enviar3{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#div4{
    position: absolute;
    left: 12vw;
    top:24.4vw;
}
#enviar4{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#iddeseada{
    position: absolute;
    left: 4vw;
    top:18vw;
    width: 8vw;
    height: 1.2vw;
}
#enviar0{

    position: absolute;
    left: 13vw;
    top:18vw;
}
#youn1{
    width: 10vw;
    height: 1.2vw;
}
#youn2{
    width: 10vw;
    height: 1.2vw;
}
#youn3{
    width: 10vw;
    height: 1.2vw;
}
#youn4{
    width: 10vw;
    height: 1.2vw;
}
#opc11{
    position: absolute;
    top: 20vw;
    left: 4vw;
}
#opc22{
    position: absolute;
    top: 22vw;
    left: 4vw;
}
#opc33{
    position: absolute;
    top: 24vw;
    left: 4vw;
}
#opc44{
    position: absolute;
    top: 26vw;
    left: 4vw;
}

#div11{
    position: absolute;
    left: 12vw;
    top:18.4vw;
}
#enviar11{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#div22{
    position: absolute;
    left: 12vw;
    top:20.4vw;
}
#enviar22{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#div33{
    position: absolute;
    left: 12vw;
    top:22.4vw;
}
#enviar33{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#div44{
    position: absolute;
    left: 12vw;
    top:24.4vw;
}
#enviar44{

    position: absolute;
    left: 12vw;
    top:1.5vw;
}
#iddeseada11{
    position: absolute;
    left: 4vw;
    top:18vw;
    width: 8vw;
    height: 1.2vw;
}
#enviar00{

    position: absolute;
    left: 13vw;
    top:18vw;
}
#youn11{
    width: 10vw;
    height: 1.2vw;
}
#youn22{
    width: 10vw;
    height: 1.2vw;
}
#youn33{
    width: 10vw;
    height: 1.2vw;
}
#youn44{
    width: 10vw;
    height: 1.2vw;
}